In [2]:
import requests

In [3]:
URL = "https://stephen-king-api.onrender.com/api/books"

res = requests.get(URL)

In [4]:
print(res)

<Response [200]>

In [5]:
data = res.json()

In [6]:
import pandas as pd

df = pd.json_normalize(data["data"])

df = df[["id","Title","Year","ISBN"]]

df

    id          Title  Year               ISBN
0    1         Carrie  1974  978-0-385-08695-0
1    2    Salem's Lot  1975  978-0-385-00751-1
2    3    The Shining  1977  978-0-385-12167-5
3    4           Rage  1977  978-0-451-07645-8
4    5      The Stand  1978  978-0-385-12168-2
..  ..            ...   ...                ...
58  59   The Outsider  2018  978-1-50118-098-9
59  60      Elevation  2018  978-1-98210-231-9
60  61  The Institute  2019  978-1-98211-056-7
61  62          Later  2021  978-1-78909-649-1
62  63  Billy Summers  2021  978-1-982-17361-6

[63 rows x 4 columns]

In [18]:
URL = "https://www.scrapethissite.com/pages/simple/"
res = requests.get(URL)

print(res.status_code)
if res.status_code == 200:
    res.text
    res.content
    res.headers

200

In [21]:
with open("scraped_data/data1.html","w",encoding="utf-8") as f:
    f.write(res.text)