In [2]:
import numpy as np
import pandas as pd

# Pandas were built over NumPy

In [2]:
# Series 1D labelled array
# DataFrame 2D labelled array

info = {
    "name" : ["Daisy", "Initha", "Joshini"],
    "CGPA" : [9.5,9.8,9.9]
}

df = pd.DataFrame(info)
print(df)

      name  CGPA
0    Daisy   9.5
1   Initha   9.8
2  Joshini   9.9

In [3]:
df # table mannered outcome

      name  CGPA
0    Daisy   9.5
1   Initha   9.8
2  Joshini   9.9

In [6]:
# Series 

s = pd.Series([1,2,3,4,5,6])
print(s)
print(type(s))

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64
<class 'pandas.core.series.Series'>

In [9]:
# Index based access
print(s[0])
print(s[1])

1
2

In [12]:
# label based access
s = pd.Series([20,21,22,23,24], index = ["Alice","Berlin","Catherin","Daisy","Evangelin"])
print(s)

print(s["Daisy"])
print(s["Alice"])

Alice        20
Berlin       21
Catherin     22
Daisy        23
Evangelin    24
dtype: int64
23
20

In [14]:
# Series Properties

# Pandas series are homogeneous.
s = pd.Series([20,21,22,23,24], index = ["Alice","Berlin","Catherin","Daisy","Evangelin"])
print(s) # dtype integer

s = pd.Series([20,21,22,23,24,"hello"], index = ["Alice","Berlin","Catherin","Daisy","Evangelin",25])
print(s) # dtype object

Alice        20
Berlin       21
Catherin     22
Daisy        23
Evangelin    24
dtype: int64
Alice           20
Berlin          21
Catherin        22
Daisy           23
Evangelin       24
25           hello
dtype: object

In [19]:
# Numpy vectorized operations can be applied in pandas aswell
s1 = pd.Series([1,2,3,4,5])
s2 = pd.Series([10,20,30,40,50])
print(s1+s2)

# Elements in pandas series are mutable
s1[1] = 100
# Size is immutable
changed_s1 = s1.drop(0)
print(s1)
print(changed_s1)

0    11
1    22
2    33
3    44
4    55
dtype: int64
0      1
1    100
2      3
3      4
4      5
dtype: int64
1    100
2      3
3      4
4      5
dtype: int64

In [32]:
# DataFrame

# Creating dataframe - I (dictionary)
info = {
    "Name" : ["Alice","Berlin","Catherin"],
    "Age" : [20,20,20],
    "GPA" : [9.5,8.6,7.2]
}

df = pd.DataFrame(info)
print(df)
print(type(df))

# Indices 
print(df.index)

# Column names
print(df.columns)

       Name  Age  GPA
0     Alice   20  9.5
1    Berlin   20  8.6
2  Catherin   20  7.2
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age', 'GPA'], dtype='object')

In [3]:
# Creating dataframe - II (Nested lists)
df = pd.DataFrame([["Alice",23],["Berlin",22],["Catherin",24]],columns=["Name","Age"])
print(df)

# Creating dataframe - III (NumPy)
np_arr = np.array([[1,2,3],[4,5,6]])
df = pd.DataFrame(np_arr,columns = ["A","B","C"])
print(df)

       Name  Age
0     Alice   23
1    Berlin   22
2  Catherin   24
   A  B  C
0  1  2  3
1  4  5  6

In [12]:
# selecting data
info = {
    "Name" : ["Alice","Berlin","Catherin"],
    "Age" : [20,20,20],
    "GPA" : [9.5,8.6,7.2]
}

df = pd.DataFrame(info)
print(df)

df["Name"]
df[["Name","Age"]]

       Name  Age  GPA
0     Alice   20  9.5
1    Berlin   20  8.6
2  Catherin   20  7.2

       Name  Age
0     Alice   20
1    Berlin   20
2  Catherin   20