In [7]:
import pandas as pd
import numpy as np

In [18]:
# read the data
df = pd.read_csv("data/globalAirQuality.csv")

In [23]:
# Selecting the data

df["city"] 
df[["city","aqi"]]

           city  aqi
0      New York  108
1      New York   90
2      New York   84
3      New York  158
4      New York   97
...         ...  ...
17995    Zurich  103
17996    Zurich  105
17997    Zurich  122
17998    Zurich   95
17999    Zurich   88

[18000 rows x 2 columns]